{% extends "index/base.html" %}

{% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>

<script type="text/javascript">
         $.ajax({
             type: "GET",
             dataType: "json",
             url: "http://127.0.0.1:8000/api/documents",
             success: function(data){
                console.log(data);
                var arr=$.map(data[0],function(o){
                  return o;
                });
                var len=Object.keys(data).length;
                var i=0;
                var out="";
                for(i=0;i<len;i++) {
                    out+="<div class=\"col-sm-3\" ><div class=\"panel panel-primary\"><div class=\"panel-heading\">" + data[i].doc_title + "</div><div class=\"panel-body\"><img src=\"http://127.0.0.1:8000"+data[i].doc_image+"\" class=\"img-responsive\" style=\"width:100%px;height:200px;\" alt=\"Image\"></div><div class=\"panel-footer\">" + data[i].doc_description + "</div></div></div>";
                    console.log(data[i].doc_url);
                 }

                 document.getElementById("xyz").innerHTML=out;
             }
         });

</script>

<div id="info"></div>
<!--
                    out+="<div class=\"col-sm-4\" ><div class=\"panel panel-primary\"><div class=\"panel-heading\">" + data[i].doc_title + "</div><div class=\"panel-body\"><img src=\"http://placehold.it/150x80?text=IMAGE\" class=\"img-responsive\" style=\"width:100%\" alt=\"Image\"></div>\<div class=\"panel-footer\">" + data[i].doc_description + "</div></div></div>";

-->
<ul>

        <div class="container">
          <div class="row" id="xyz">
            <!--
            <div class="col-sm-4" >
              <div class="panel panel-primary">
                <div class="panel-heading">{{d.doc_title}}</div>
                <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">{{d.doc_uploaded_by}}</div>
              </div>
            </div>
            -->
          </div>
        </div><br>
</ul>

{% endblock %}